.container {
  padding: 0.5em;
}

.isFirst::before {
  content: attr(data-date);
  display: block;
  color: var(--theme-text-secondary);
  font-size: 0.75em;
  border-bottom: 1px solid var(--theme-text-secondary);
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 6.5em 1fr;
}

.times {
  display: inline;
  color: var(--theme-text-secondary);
}

.location {
  display: inline;
  color: var(--theme-text-secondary);
  font-size: 0.75em;
}
