.container {
  display: grid;
  grid-template-columns: 1fr 6em;
  border-bottom: 1px solid var(--theme-bg-secondary);
  padding: 0.5em 0.8em;
  line-height: 1.3em;
}

.name {
  font-weight: bold;
  color: var(--theme-text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount {
  color: var(--theme-text-primary);
  grid-row: span 2;
  justify-self: end;
  align-self: center;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.positive {
  background-color: hsl(120, 45%, 27%);
}

.negative {
  background-color: hsl(0, 45%, 27%);
}

.date {
  font-size: 0.8em;
  color: var(--theme-text-secondary);
}
