.Dialog {
  width: 400px;
  padding: 1em;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ModalTitle {
  font-size: 1.2em;
  font-weight: 600;
}

.Divider {
  width: 100%;
}

.Title {
  font-weight: 600;
}

.Setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.RightAlign {
  text-align: right;
}
