.dialog {
  width: 400px;
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modalTitle {
  font-size: 1.2em;
  font-weight: 600;
}

.divider {
  width: 100%;
}

.title {
  font-weight: 600;
}

.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rightAlign {
  text-align: right;
}
