.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  overflow: hidden;
  flex-direction: column;
}

.container a {
  flex: 1;
  overflow: hidden;
}

.container a img {
  max-height: 100%;
  max-width: 100%;
}
