.Dialog {
  width: 200px;
  padding: 1em;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  text-align: center;
}

.Close {
  align-self: self-end;
  border: none;
  background: none;
  color: inherit;
  font-size: 2em;
  margin-bottom: -1em;
  cursor: pointer;
}

.Image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.Email {
  color: var(--theme-text-secondary);
  font-size: 0.75em;
  margin-top: 0.3em;
}
