.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block: 3em 2em;
  color: var(--theme-text-primary);
}

.logoIcon {
  width: 3em;
}

.logoName {
  font-family: "MuseoModerno", sans-serif;
  font-size: 2.5rem;
}

@media (max-width: 40em) {
  .logo {
    margin-block: 1em;
  }

  .logoIcon {
    width: 2em;
  }

  .logoName {
    display: none;
  }
}
