.ChartContainer {
  flex: 1;
  overflow: hidden;
  padding: 1em;
}

.GoalGrid {
  flex: 1;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.GoalText {
  flex: 1;
}

.GoalValue {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.GoalTarget {
  font-size: 0.8em;
  color: var(--theme-text-secondary);
}

.GoalChartContainer {
  flex: 1 0 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.DoughnutValue {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChartContainer canvas,
.GoalChartContainer canvas {
  height: 100% !important;
}
