:root {
  --theme-text-primary: #fff;

  --theme-bg-primary: hsl(225, 15%, 25%);
  --theme-bg-secondary: hsl(225, 25%, 10%);
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--theme-bg-secondary);
}

header {
  color: var(--theme-text-primary);
  background-color: var(--theme-bg-primary);
  box-shadow: inset 0 0 1px 0 #fff8, 0 0 3px 0px #000;
}
