.customToggle {
  font-size: 0.75rem;
}

.customToggle input {
  appearance: none;
  -webkit-appearance: none;
}

.customToggle .customToggleTrack {
  display: inline-block;
  width: 5em;
  height: 1.9em;
  border-radius: 100vw;
  border: 1px solid #888;
  box-shadow: -3px -3px 3px -3px #fff, 3px 3px 3px -3px #0002,
    inset 3px 3px 3px -3px #0004, inset -3px -3px 3px -3px #fff6;
  position: relative;
  transition: background 0.3s;
}

.customToggle .customToggleThumb {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 3.5em;
  background: linear-gradient(hsl(0deg 0% 99%), hsl(0deg 0% 92%));
  border-radius: 100vw;
  box-shadow: inset 3px 3px 3px -3px #fff, inset -3px -3px 3px -3px #0002,
    2px 0 3px -3px #000, -2px 0 3px -3px #000;
  transition: left 0.3s;
}

.customToggle .customToggleThumb::after {
  position: absolute;
  content: "";
  background: #444;
  width: 0.4em;
  height: 0.4em;
  right: 0.75em;
  top: 0.75em;
  border-radius: 50%;
}

.customToggle:focus-within ~ .customToggleTrack {
  outline: 2px solid #000;
}

.customToggle input:checked ~ .customToggleTrack {
  background: var(--theme-accent-primary) !important;
}

.customToggle input:checked ~ .customToggleTrack .customToggleThumb {
  left: 1.5em !important;
}

.customToggle input:checked ~ .customToggleTrack .customToggleThumb::after {
  background: var(--theme-accent-primary);
  box-shadow: 0 0 3px #fff, 0 0 10px var(--theme-accent-primary);
}
