.Weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  container-type: size;
  container-name: panel-size;
}

.WeatherIcon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: size;
  container-name: icon;
  text-align: center;
}

.Temperature {
  flex: 0 0 1em;
  text-align: center;
  padding-bottom: 0.5em;
  line-height: 1em;
}

/* Resizes Webfont Icon to fit container */
@container icon (min-width: 0px) {
  .WeatherIcon:before {
    font-size: 80cqmin;
  }
}

@container panel-size (min-width: 0px) {
  .Temperature {
    font-size: 12cqmin;
  }
}

.ForecastContainer {
  flex: 0 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.ForecastDay {
  padding: 0.5em;
}

.ForecastDay > * {
  display: block;
  text-align: center;
  padding-block: 0.3em;
}

.ForecastDate {
  color: var(--theme-text-secondary);
  font-size: 0.75em;
}

.ForecastDay hr {
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--theme-bg-secondary);
  width: 2em;
  margin: 0 auto;
}

.ForecastMinTemperature {
  color: var(--theme-text-secondary);
}
