.Settings {
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25em;
  color: var(--theme-text-primary);
}

.Button {
  border: none;
  background: none;
  padding: 0.5em;
  color: inherit;
  cursor: pointer;
}

.Clock {
  color: var(--theme-text-secondary);
  margin-inline: 0.8em;
}

.ClockColon {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
