.sideBar {
  flex: 0 0 15em;
  color: var(--theme-text-primary);
  background-color: var(--theme-bg-primary);
  box-shadow: inset 0 0 1px 0 #fff8, 0 0 3px 0px #000;
}

.avatar {
  margin-bottom: 1.5em;
  text-align: center;
}

.avatar img {
  border-radius: 3em;
  border: 2px solid var(--theme-accent-secondary);
}

.navLink {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--theme-accent-secondary);
  text-decoration: none;
  padding: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--theme-bg-fade-transparent);
}

.navLink:hover {
  color: var(--theme-accent-tertiary);
}

.activeLink {
  composes: navLink;
  color: var(--theme-accent-tertiary);
}

.navLine {
  border: 0;
  border-bottom: 1px solid var(--theme-accent-tertiary);
  margin-inline: 1em;
}

@media (max-width: 40em) {
  .sideBar {
    flex-basis: 3em;
  }

  .avatar {
    display: none;
  }

  .navLink {
    padding: 0.75em;
    text-align: center;
    display: block;
  }

  .navLink span:last-child {
    display: none;
  }
}
